.maintenance-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fa;
  text-align: center;
}

.logo {
  width: 200px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  color: #555;
}
